section.section.ontwikkeling(id='coaching')
    .section-body.container
        .section-header
            h2
                span(lang='nl') Coaching
                span(lang='en')
                span(lang='fr')
            .divider-grey
            .section-container
                p Het kan zijn dat je vragen hebt omtrent gebeurtenissen in je leven: veranderingsprocessen, levensloop-,zingevingsvraagstukken of emoties verdriet, boosheid, angst etc.
                p Transpersoonlijk coachen kan verhelderend werken. Tijdens de sessie maak je kennis met de taal van je innerlijk zelf. Vaak krijg je de informatie door in de vorm van beelden of symbolen. Door hiermee contact te maken kun je de boodschap vertalen naar jezelf. Het bevat unieke informatie die voor jou functioneren van belang is. het laat zien wat je belemmerd, wat neit meer nodig is, het laat ook mogelijkheden zien om een nieuwe koers te volgen.
