extends layout
block content

        include mapping/menu/menu
        include mapping/about/about
        include mapping/webservices/webservices
        include mapping/verwerker/verwerker
        include mapping/communicator/communicator
        include mapping/assurance/assurance
        include mapping/viewer/viewer
        include mapping/contact/contact
        include mapping/footer/footer
