
.row.collapse
    .col-lg-2
    .col-lg-8
        blockquote.blockquote-reverse.blockquote-reverse-webservices
            strong(style='...') Interesse?
            br
            | Bij intersse verzoeken wij u om
            span.page-scroll
            a(href='#contact')  contact
            |  op te nemen
.row
    a.btn.btn-webservices.btn-collapse(href='#')
        span(lang='nl') Beschikbaarheid
        span(lang='en') Availability
.row.collapse
    .section-container
        .col-xs-12


