section#footer
    .footer-section
        p
            a.cursor-pointer(data-toggle='modal', data-target='#disclaimer') Disclaimer
            |  |
            span(lang='nl')
                a.cursor-pointer(data-toggle='modal', data-target='#voorwaarden') Algemene voorwaarden
                |  |
            span(lang='en')
                a.cursor-pointer(data-toggle='modal', data-target='#voorwaarden') Terms and Conditions
                |  |
            span(lang='nl')
                a.cursor-pointer(data-toggle='modal', data-target='#privacy') Privacy verklaring
            span(lang='en')
                a.cursor-pointer(data-toggle='modal', data-target='#privacy') Terms and Conditions
