

section#assurance.section.about
    .section-body
        .section-header
            h2
                span(lang='nl') SBR Assurance
                span(lang='en') SBR Assurance
            .divider-grey
            .container
                .row
                    .col-lg-2
                        img(src='img/icons/sbr-prog/SBR_Assurance_128.png', class='profile', alt='SBR Assurance')
                    .col-lg-8
                        p
                            span(lang='nl') SBR Assurance biedt accountants de mogelijkheid om digitaal aangeleverde publicatiestukken of kredietrapportages (SBR) te voorzien van een digitale beoordelings- of controleverklaring.
                            span(lang='en')


                        p
                            span(lang='nl') Binnen SBR assurance wordt gebruik gemaakt van bestaande standaarden. Dit maakt de methode toekomstbestendig en generiek toepasbaar tegelijkertijd.
                            span(lang='en')
                .collapse-group
                    include knopje