
.row.collapse
        .col-lg-2
        .col-lg-8
            blockquote.blockquote-reverse.blockquote-reverse-assurance
                strong(style='color: #000000') Interesse?
                br
                |  Bij interesse verzoeken
                |                             we u om &nbsp
                span.page-scroll
                    a(href='#contact') contact
                |  op te nemen
.row
        a.btn.btn-assurance.btn-collapse(href='#')
            span(lang='nl') Beschikbaarheid?
            span(lang='en') Availabillity?
.row.collapse
        .section-container
            .col-xs-12
                p

                    span(lang='nl')
                        strong Op korte termijn
                        |  zal er een functionaliteit beschikbaar worden gesteld waarmee SBR assurance
                        |                                     kan worden gerealiseerd. Houd deze website in de gaten voor de actuele stand van zaken.
                    span(lang='en')
//
   Created by pieter on 21-9-2016.

