section#contact.section.contact
    .section-body.container
        .section-container
            .vert-center
                .row
                    .col-lg-4.col-lg-offset.col-sm-4.col-md-6.col-xs-10.contact-left
                        h3
                            span(lang='nl') Stuur een bericht
                            span(lang='en') Send a message
                        br
                        p
                            span(lang='nl') Hebt u opmerkingen of suggesties voor ons? Dan horen wij dat graag.
                                br
                                br
                                | Accept is een toegankelijke onderneming die zich open stelt voor de mening van haar klanten. Op basis van uw feedback passen wij onze prgrammatuur en services constant aan.
                            span(lang='en') if you have any comments of suggestions, please let us know.
                                br
                                br
                                | Accept resprents an open and accesible company that is interested in the opinion of its clients. We continuously adapt our services, based on your feedback.
                        br
                        p
                            a(href='mailto:info@sbrviewer.eu', class='social') info@sbrwebservices.eu
                            br
                            br
                            a(href='https://www.linkedin.com/company/accept-sbr?trk=biz-brand-tree-co-logo', class='social', target='blank')
                                i.fa.fa-linkedin

                            a(href='https://facebook.com/pages/accept/378440522171024', class='social', target="_blank")
                                i.fa.fa-facebook

                            a(href='mailto:info@sbrviewer.eu',class='social')
                                i.fa.fa-inbox
                    .col-lg-6.col-sm-9.col-md-6.col-xs-10.contact-right
                        h3
                            span(lang='nl') Werk met ons samen
                            span(lang='en') Co-operate
                        br
                        p
                            span(lang='nl') Ook wanneer u mogelijkheden ziet tot samenwerken, horen wij graag van u.
                                br
                                br
                                |Om standard business Reporting tot een succes te maken is nauwe samenwerking tussen de diverse betrokken organistaties en marktpartijen essentieel. Wij stellen ons constructief op en denken graag met externe partijen mee over mogelijkheden, ontwikkelingen en initiatieven voor de toekomst.
                            span(lang='en') If you want to co-operate, we would like you to get in touch as well.
                                br
                                | To make Standard Business Reporting a succes, we believe that all different stakeholders have to co-operate witch each other. We consider ourselves a positive and constructive partner that is willing to discuss future positibilities and initiatives withc other involved parties. if this apeals to you please get in contact.

