section(id='gesprek').stection.cursus
 .section-body.container
     .section-header
         h2
            span(lang='nl') Het gesprek
            span(lang='en')
            span(lang='fr')
         .divider-grey
         .section-container
             .vert-center
                p Het is een begeleidend gesprek op basis van een gelijkwaardige één op één relatie
                    br
                    | Daarbij ga ik uit van jouw mogelijkheden en kwaliteiten.
                    br

