section(id='Neurofeedback').section.ontwikkeling
    .section-body
        .container
            h2
                =ontwikkelingtitel
            .divider-grey
            .section-container
                h4
                    =ontwikkelingsubtitel1
                p
                    =ontwikkelingparagraaf11
                    br
                    =ontwikkelingparagraaf12
                    br
                    =ontwikkelingparagraaf13
                    br
                    =ontwikkelingparagraaf14
                h4
                    =ontwikkelingsubtitel2
                p
                    =ontwikkelingparagraaf2

                h4
                    =ontwikkelingsubtitel3
                p
                    =ontwikkelingparagraaf3


