section(id='about').section.about
    .section-body.container
        .section-header
            h2
                span(lang='nl') Over mij
                span(lang='en') About me
                span(lang='fr') About me
            .divider-grey
            .section-container
                div
                    .row
                        .col-lg-2
                            img.profile.btn-circle(src='img/Profile.jpg', alt= 'Nathalie van Nielen')
                        .col-lg-8
                            p
                                span(lang='nl')
                                    br
                                    | Transpersoonlijk coach, trainer intuïtieve ontwikkeling.
                                    br
                                    | Mijn naam is Nathalie van Nielen-Robert. Naast het coachen geef ik cursussen en indiiduele trainingen op het gebied van persoonlijke ontwikkeling en bewustzijn. Het logsich denken geeft inzichten ,maar onze intuïtie maakt het denken compleet. Het biedt meer invalshoeken. In de loop der jaren heb ik de sleutels gevonden die me hier mee in contact brachten en ik heb de poort geopend. Vragen kregen antwoorden. Hoe je dit doet wil ik graag overdragen.
                                span(lang='en')
                                span(lang='fr')
                            p
                                span(lang='nl') Ik help je te zoeken naar je eigen mogelijkheden, oplossingen waarmee je zelf weer verder kunt.
                                    br
                                    | Op deze manier heb je het heft weer in eigen handen.
                                span(lang='en')
                                span(lang='fr')
                        .row
                            .col-lg-8.col-lg-offset-2
                                .row
                                    .col-lg-4.col-md-4
                                        a(href='/#ontwikkeling')
                                            img(src='img/IntuitieveOntwikkeling_64.png')
                                        a(href='#ontwikkeling')
                                            h3
                                                span(lang='nl') Cursus intuïtieve ontwikkeling
                                                span(lang='en')
                                                span(lang='fr')
                                        p
                                            span(lang='nl') Intuïtie is het vermogen innerlijk te weten, te voelen en helder waar te nemen.
                                            span(lang='en')
                                            span(lang='fr')
                                    .col-lg-4.col-md-4.page-scroll
                                        a(href='#coaching')
                                            img(src='img/Coaching_64.png', alt='Coaching')
                                        a(href='#coaching')
                                            h3
                                                span(lang='nl') Coaching
                                                    br
                                                    | Transpersoonlijk
                                                    br
                                                span(lang='en')
                                                span(lang='fr')
                                        p
                                            span(lang='nl') Antwoorden en inzichten vanuit diepere lagen van het bewustzijn.
                                            span(lang='en')
                                            span(lang='fr')
                                    .col-lg.col-md-4
                                             a(href='/Neurofeedback#Neurofeedback')
                                                img(src='img/Neurofeedback_64.png', alt='Neurofeedback training')
                                             a(href='/Neurofeedback#Neurofeedback')
                                                h3
                                                    span(lang= 'nl') Intuïtieve training
                                                        br
                                                        | individueel
                                                        br
                                                    span(lang='en')
                                                    span(lang='fr')
                                             p
                                                span(lang= 'nl') Training van het brein voor het optimaal functioneren.
                                                span(lang= 'en')
                                                span(lang='fr')


