section(id='gesprek').stection.cursus
 .section-body.container
     .section-header
         h2
           =gesprektitel
         .divider-grey
         .section-container
             .vert-center
                 p
                    =gesprekparagraaf1
                    br
                    =gesprekparagraaf2
                    br

