section.section.about#communicator
    .section-body
        .section-header
            h2
                span(lang='nl') SBR Communicator
                span(lang='en') SBR Communicator
            .divider-grey
            .container
                .row
                    .col-lg-2
                        img(src='img/icons/sbr-prog/SBR_Communicator_128.png')
                    .col-lg-8
                        br
                        p
                            span(lang='nl') De SBR Communicator is een generiek programma waarmee SBR-documenten kunnen worden verstuurd naar banken, de KvK, het CBS en de belastingdienst. Vanzelfsprekend kunnen met behulp van de SBR Communicator de in de SBR Verwerker gegeneerde SBR-bestanden worden verstuurd. Daarnaast is het mogelijk om aangiften of opgaven te versturen die zijn gemaakt met de software van een andere partij. Dit kan uiteraard in de vorm van een SBR-bestand (XBRL), maar ook in het BAPI-of CSV-formaat.
                            span(lang='en')
                        p
                            span(lang='nl') Een belangrijk voordeel van de SBR Communicator is dat communicatie rechtstreeks met de uitvragende instanties (banken, KvK en de belastingdienst) plaatsvindt. Hierdoor hoeft u als gebruiker wanneer u beschikt over een eigen PKI-overheidscertificaat geen extra kosten per bericht te betalen
                            span(lang='en')
                .collapse-group
                    include knopje

