#disclaimer.modal.fade(tabindex='-1', role='dialog', aria-labelledby='disclaimerLabel', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Close
                h2#disclaimerLabel.modal-title Disclaimer
            .modal-body
                p
                    | Wij aanvaarden geen enkele aansprakelijkheid voor schade door onjuiste of onvolledige informatie op deze site. Aan de informatie en berekeningen op deze site kunnen geen rechten worden ontleend.
                p
                    | De methode Neuroptimal Neurofeedback waar mee gewerkt wordt is geen therapie en ook geen vervanging van therapie.
                p Al onze activiteiten zijn exclusief onderworpen aan onze Algemene voorwaarden.
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Sluiten
#voorwaarden.modal.fade(tabindex='-1', role='dialog', aria-labelledby='voorwaardenLabel', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Close
                h2#voorwaardenLabel.modal-title
                    span(lang='nl') Algemene voorwaarden
                    span(lang='en') Terms and Conditions
            .modal-body
                ul
                    li
                        h4 Aansprakelijkheid
                        ul
                            li
                                | Parktijk Nathalie van Nielen zal zich ervoor inspannen de geleverde neurofeedbacktraining naar beste inzicht en vermogen te zullen uitvoeren, overeenkomstig de eisen van goed vakmanschap. Een en ander op grond van de op dat moment bekende stand der wetenschap.
                            li
                                | Neurofeedback In balans heeft een inspanningsverplichting jegens cliënt, nooit een resultaatverplichting. De cliënt erkent dat bij neurofeedback NeurOptimal® het niet mogelijk is het resultaat en het aantal benodigde trainingen te voorspellen om het door de cliënt gewenste effect te bereiken.
                            li
                                | Parktijk Nathalie van Nielen hanteert een begeleidende rol en geen adviserende rol. De cliënt is zelf verantwoordelijk voor de eigen keuzes. Parktijk Nathalie van Nielen is niet aansprakelijk en verantwoordelijk voor deze keuzes en of mogelijke gevolgen hiervan.
                            li
                                | De cliënt draagt er zorg voor dat alle gegevens, waarvan Parktijk Nathalie van Nielen aangeeft dat deze noodzakelijk zijn of waarvan wederpartij redelijkerwijs behoort te begrijpen dat deze noodzakelijk zijn voor het uitvoeren van de neurofeedbacktraining, tijdig aan Parktijk Nathalie van Nielen worden verstrekt. Parktijk Nathalie van Nielen is nimmer aansprakelijk voor schade die ontstaat ten gevolge van onjuiste en/of onvolledige informatieverstrekking door de wederpartij.
                            li
                                | Mocht Parktijk Nathalie van Nielen aansprakelijk zijn voor enigerlei schade, dan is de aansprakelijkheid van Parktijk Nathalie van Nielen beperkt tot maximaal, tweemaal de factuurwaarde van de order, althans tot dat gedeelte van de order waarop de aansprakelijkheid betrekking heeft.
                            li
                                | De aansprakelijkheid van Parktijk Nathalie van Nielen is in ieder geval steeds beperkt tot het bedrag der uitkering van zijn verzekeraar in voorkomend geval.
                        br
                    li
                        h4 Geheimhouding
                        p
                            | Parktijk Nathalie van Nielen registreert gegevens van cliënten ten behoeve van de neurofeedbacktraining. Deze gegevens die de cliënt met Parktijk Nathalie van Nielen deelt worden vertrouwelijk behandeld in overeenstemming met de Wet Bescherming Persoonsgegevens.
                            br
                            |                             Verstrekking van deze informatie aan derden, zoals een arbo-arts of werkgever, zal uitsluitend plaatsvinden met toestemming van de cliënt.
                    li
                        h4 Betaling
                        p
                            | Dient te geschieden door de cliënt binnen 14 dagen na factuurdatum van de rekening van Neurofeedback In Balans.
                    li
                        h4 Toepasselijkheid recht en geschillen
                        p
                            | Op alle rechtsbetrekkingen waarbij Parktijk Nathalie van Nielen partij is, is uitsluitend het Nederlands recht van toepassing, ook indien de cliënt in het buitenland een woonplaats heeft.
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Sluiten
#privacy.modal.fade(tabindex='-1', role='dialog', aria-labelledby='privacyLabel', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Close
                h2#privacyLabel.modal-title Privacy verklaring
            .modal-body
                p
                    | Parktijk Nathalie van Nielen streeft na om persoonsgegevens die u tijdens een bezoek aan de website van Parktijk Nathalie van Nielen achterlaat zo te verwerken en te beheren dat uw privacy wordt beschermd en gewaarborgd.
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Sluiten
