

section#viewer.section.about
    .section-body
        .section-header
            h2
                span(lang='nl') SBR Viewer
                span(lang='en') SBR Viewer

            .divider-grey
        .section-container
            .container
                .row
                    .col-lg-2
                    .hidden-lg
                        img(src='img/icons/sbr-prog/SBR_Viewer_128.png', class='profile', alt='SBR Viewer')
                    .col-lg-8
                        p
                            span(lang='nl') Met de SBR Viewer kunt u snel en eenvoudig de inhoud van een SBR document (*.xbrl) raadplegen. Door de overzichtelijke manier van presenteren is er geen specifieke kennis van de complexe SBR-taxonomie vereist. De SBR Viewer maakt de inhoud van een SBR document toegankelijk voor iedereen.
                            span(lang='en') The SBR Viewer enables its users to open and explore the content of SBR documents(*.xbrl).Users of the SBR Viewer do not need to have any technical expertise of specific knowledge about the SBR taxonomy. The Viewer presents every document in a clear and organized way.
                        p
                            span(lang='nl') De SBR Viewer is onder meer een uitkomst voor accountants en administratiekantoren die hun klanten ter kennisgeving een verzonden aangifte, deponering, kredietaanvrag of accountantsverklaring willen toesturen. Op dit moment worden degelijke uitwisselingen vaak in de vorm van een pdf-bestand gedaan. Hiervoor moet het aangeleverde SBR document eerst worden geconverteerd. Door de komst vn de SBR zijn deze (tijdrovende) conversatieprocessen niet langer noodzakelijk. De SBR Viewer maakt het mogelijk om de inhoud van een SBR document direct, zonder ingewikkelde tussenhandleingen, te verkennen.
                            span(lang='en') The SBR Viewer is a great solution for accountants and administrative offices that want to send SBR documents to their clients, in order to keep them informed. Think, for example, of an accountant whoe sends a tax return he submitted to one of his clients as notification. At this time, such exchanges are mostly done by e-mail in the form of a PDF file. Before you can exchange a SBR document in the form of a pdf file, a complex and time-consuming conversation has to take place. The SBR Viewer makes such actions redundant and enables you to consult the content of a SBR document directly.
                    .visible-lg.col-lg-2
                        img(src='img/icons/sbr-prog/SBR_Viewer_128.png', class='profile', alt='SBR Viewer')
                .collapse-group
                    include knopje

