section#about.section.about
    .section-body
        .section-header
            h2
                span(lang='nl') Onze producten
                span(lang='en') Our products
            .divider-grey
            .container
                .row.sub
                    p Accept levert diverse oplossignen rondom SBR (Standard Business Reporting).
                .row
                    .col-md-6
                        h3 On premise
                        p
                            span(lang='nl') Een aantal van deze oplossingen is beschikbaar als on-premise applicatie en kan op eenvoudige wijze door eindgebruikers worden aangeschaft en gedownload.
                            span(lang='en')
                        p
                            span(lang='nl')
                            |    De gebruiksklare SBR toepassingen die wij op dit moment leveren zijn: de &nbsp
                            span.page-scroll
                               a.verwerker(href='#verwerker') SBR Verwerker
                            |         , de &nbsp
                            span.page-scroll
                               a.viewer(href='#viewer')  SBR Viewer
                            |   en de &nbsp
                            span.page-scroll
                            a(href='#communicator') SBR Communicator
                            |  . Deze toepassingen kunnen zowel standalone als op een netwerk worden geïnstalleerd.
                            span(lang='en')

                    .col-md-6
                        h3 Webservices
                        p
                            span(lang='nl') De softwarematige componenten die in onze SBR applicaties worden gebundeld zijn tevens beschikbaar als autonome webservices.
                            span(lang='en')
                        p
                            span(lang='nl') Deze SBR webservices functioneren onafhankelijk van elkaar en zijn onder meer in staat tot het genereren, presentere, valideren en communiceren van SBR documenten (XBRL bestanden).
                            span(lang='en')
                .row
                    img.light(src='img/colorbar-01.png')





//
   Created by pieter on 21-9-2016.

