//
   Created by pieter on 27-9-2016.

body#page-top
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
        .container
            .navbar-header.page-scroll
                button.navbar-toggle(type='button',data-toggle='collapse', data-target='.navbar-main-collapse')
                    i.fa.fa-bars
                a.navbar-brand(href='#page-top')
                    span(lang='nl') SBR webservices
                    span(lang='en') SBR Webservices
            .collapse.navbar-collapse.navbar-right.navbar-main-collapse

                    ul.nav.navbar-nav
                        li.hidden
                            a(href='#intro')
                             span(lang='nl') Intro
                             span(lang='en') Intro
                        li.page-scroll
                            a(href='#about')
                                span(lang='nl') Over
                                span(lang='en') About
                        li.page-scroll
                            a(href='#webservices')
                                span(lang='nl') Webservices
                                span(lang='en') Web service
                        li.page-scroll
                            a(href='#verwerker')
                                span(lang='nl') Verwerker
                                span(lang='en') Processor
                        li.page-scroll
                            a(href='#communicator')
                                span(lang='nl') Communicator
                                span(lang='en') Communicator
                        li.page-scroll
                            a(href='#assurance')
                                span(lang='nl') Assurance
                                span(lang='en') Assurance
                        li.page-scroll
                            a(href='#viewer')
                                span(lang='nl') Viewer
                                span(lang='en') Viewer
                        li.page-scroll
                            a(href='#contact')
                                span(lang='nl') Contact
                                span(lang='en') Contact
    section#intro.section.intro
        .section-body
            .container
                .-language.hidden-xs
                   .col-md-12
                        .btn-toolbar(role= 'toolbar')
                            .btn-group
                                img(src='../img/icons/acc-small.png', style='max-height:64px')