nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
    .container
        .navbar-header.page-scroll
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
                i.fa.fa-bars
            a.navbar-brand(href='#page-top')
                span(lang='nl') Nathalie
                span(lang='en') Nathalie
                span(lang='fr') Nathalie
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
            ul.nav.navbar-nav
                li.hidden
                    a(href='#intro')
                li.page-scroll
                    a(href='#about')
                        span(lang='nl') Over mij
                        span(lang='en') About me
                        span(lang='fr')
                li.page-scroll
                    a(href='#coaching')
                        span(lang='nl') Coaching
                        span(lang='en')
                        span(lang='fr')
                li.page-scroll
                    a(href='#gesprek')
                        span(lang='nl') Het gesprek
                        span(lang='en')
                        span(lang='fr')

                li.page-scroll
                    a(href='#contact')
                        span(lang='nl') Contact
                        span(lang='en') Contact
                        span(lang='fr')