section#footer
    .footer-section
        p
            a.cursor-pointer(data-toggle='modal', data-target='#disclaimer')=disclaimer
            |  |
            span(lang='en')
                a.cursor-pointer(data-toggle='modal', data-target='#voorwaarden')=Algemnevoorwaarden
                |  |

            span(lang='en')
                a.cursor-pointer(data-toggle='modal', data-target='#privacy')=Privacyverklaring
