section(id='intro').section.intro.coaching
    .section-body
        .container
            .row
                .intro-wrapper.col-md-12.col-xs-12
                    .intro-top
                        h1.brand-heading
                            span(lang='nl')
                            |Coaching
                            br
                            small Transpersoonlijk

                            span(lang='en') ...
                            span(lang='fr') ...
                        p.intro-text
                            span(lang='nl') Inzicht en bewustwording
                            span(lang='en') ...
                            span(lang='fr') ...
                    .intro-bottom.page-scroll
                            a.button(href='#coaching')
                                span(lang='nl') Ga naar coaching
                                span(lang='en')
                                span(lang='fr')



//
   Created by pieter on 9-11-2016.

