section.section.ontwikkeling(id='coaching')
    .section-body.container
        .section-header
            h2
                =ontwikkelingtitel

            .divider-grey
            .section-container
                p
                    =ontwikkelingparagraaf1
                    br
                    br
                    =ontwikkelingparagraaf2
