section(id='training').section.cursus
    .section-body.container
        .section-header
            h2
                =trainingtitel

            .divider-grey
            .section-container
                p
                    =trainingparagraaf11
                    br
                    =trainingparagraaf12
                    br
                    =trainingparagraaf13
