

section#footer
    .footer-section
        p
            span(lang='nl')
                a(href='https://www.acc.nl/Bedrijfsgegevens-Over-Accept-107', target='_blank') Over Accept
                ||
                span(lang='en')
                a(href='https://www.acc.nl/Bedrijfsgegevens-Over-Accept-107', target='_blank')
                    | About
                    | Accept
                |  |
            span(lang='nl')
                a(href='https://www.acc.nl/Bedrijfsgegevens-Disclaimer-1013', target='_blank') Disclaimer
                ||
            span(lang='en')
                a(href='https://www.acc.nl/Bedrijfsgegevens-Disclaimer-1013', target='_blank') Disclaimer
                |  |
            span(lang='nl')
                a(href='https://www.acc.nl/Bedrijfsgegevens-Algemene-voorwaarden-2355', target='_blank') Algemene voorwaarden
                ||
            span(lang='en')
                a(href='https://www.acc.nl/Bedrijfsgegevens-Algemene-voorwaarden-2355', target='_blank')
                    | Terms
                    | and Conditions
                |  |
            span(lang='nl')
                a(href='https://www.acc.nl/Bedrijfsgegevens-Privacy-verklaring-2429', target='_blank')
                    | Privacy
                    | verklaring
                |  |
            span(lang='en')
                a(href='https://www.acc.nl/Bedrijfsgegevens-Privacy-verklaring-2429', target='_blank') Privacy Statement
                ||
            span(lang='nl')  © 2016 Accept Development B.V. Alle rechten voorbehouden. |
            span(lang='en')  © 2016 Accept Development B.V. All Rights Reserved. |
            var version: 1.1.2


