
.row.collapse
        .col-lg-2
        .col-lg-8
            blockquote.blockquote.blockquote-verwerker
                strong(style='color: #000000') Interesse?
                br
                |  Bij interesse verzoeken we u om &nbsp
                span.page-scroll
                    a(href='#contact')  contact
                |  op te nemen.
.row
        a.btn.btn-verwerker.btn-collapse(href='#')
            span(lang='nl') Beschikbaarheid
            span(lang='en') Availability
.row.collapse
        .section-container
            .col-md-6
                h3
                    span(lang='nl') On premise
                    span(lang='en') On premise
                p
                    span(lang='nl') De SBR Verwerker is onder meer beschikbaar als on-premise applicatie (installatie kan zowel standalone als op het netwerk plaatsvinden).
                    span(lang='en')
            .col-md-6
                h3
                    span(lang='nl') Webservice
                    span(lang='en') Web service
                p
                    span(lang='nl') De voornaamste functionaliteit van de SBR Verwerker is tevens beschikbaar als autonome webservice. Middels deze webservice kunt u de verzending van gegenereerde SBR documenten (*.xbrl) naar de betreffende instanties realiseren.
                    span(lang='en')


