section#verwerker.section.about
    .section-body
        .section.header
            h2
                span(lang='nl') SBR Verwerker
                span(lang='en') SBR Processor
            .divider-grey
        .container
            .row
                .visible-lg.col-lg-2
                .hidden-lg
                    img(src='img/icons/sbr-prog/SBR_Verwerker_128.png', class='profile', alt='SBR Verwerker')
                .col-lg-8
                     p
                        span(lang='nl') Met de SBR Verwerker genereert u snel en eenvoudig de SBR-documenten die u nodig hebt. De SBR Verwerker functioneert op basis van sjablonen (digitale invulformulieren). Afhankelijk van het SBR-document dat u wilt aanmaken, selecteert u een ander invulformulier.
                        span(lang='nl') Met de SBR Verwerker genereert u snel en eenvoudig de SBR-documenten die u nodig hebt. De SBR Verwerker functioneert op basis van sjablonen (digitale invulformulieren). Afhankelijk van het SBR-document dat u wilt aanmaken, selecteert u een ander invulformulier.
                        span(lang='en')
                     p
                        span(lang='nl') De gegevens voor uw SBR-document(en) kunt u handmatig in de SBR Verwerker invoeren. Het is tevens mogelijk om data uit een ander bestand of programma te importeren of koppelen.
                        span(lang='en')
                .visible-lg.col-lg-2
                    img(src='img/icons/sbr-prog/SBR_Verwerker_128.png', class='profile',alt='SBR Verwerker')
            .collapse-group
                 include knopje
//
   Created by pieter on 21-9-2016.

