section.section.intro.neurofeedback(id='intro')
    .section-body
        .container
            .-row
                .intro-wrapper.col-md-12.col-xs-12
                    .intro-top
                        h1.brand-heading
                            =subtitel1
                            br
                            small=subtitel2
                            br

                        p.intro-text
                            =intro1
                            br
                            br
                            =intro2
                            br
                            =intro3
                            br
                            =intro4
                            br

                    .intro-bottom.page-scroll
                            a.button(href=linkknop)
                                =knopintro
                    .language.hidden-xs
                        .btn-toolbar(role='toolbar')
                            .btn-group
                                a(href='/neurofeedback')
                                    span.flag-icon.flag-nl-32
                                a(href='/en_neurofeedback')
                                    span.flag-icon.flag-gb-32
                                a(href='/fr_neurofeedback')
                                    span.flag-icon.flag-fr-32


