.row.collapse
    .col-lg-2
    .col-lg-8
        blockquote.blockquote-reverse.blockquote-reverse-webservices
            strong(style='...') Interesse?
            br
            | Bij intersse verzoeken wij u om
            span.page-scroll
            a(href='#contact')  contact
            |  op te nemen
.row
    a.btn.btn-webservices.btn-collapse(href='#')
        span(lang='nl') Beschikbaarheid
        span(lang='en') Availability
.row.collapse
        .section-container
            .col-xs-12
            .section-container
            .col-xs-12
                p(style='...')
                span(lang='nl') Op dit moment leveren wij de volgende webservices:
                span(lang='en')
        .col-md-3.col-sm-6
            img(src='img/icons/gen/Pencil_64.png', alt='SBR Verwerker')
            h3
                span(lang='nl') SBR Genereren
                span(lang='en') SBR Generating
            p
                span(lang='nl') Op basis van een met data gevuld XML betand genereert deze webservice een SBR document(XBRL).
                span(lang='en') This service is able to generate a XBRL file on the basis of a XML file that contains the right data.
        .col-md-3.col-sm-6
            img(src='img/icons/gen/Eye_64.png', alt='SBR viewer')
            h3
                span(lang='nl') SBR Weergave
                span(lang='en') SBR Rendering
            p
                span(lang='nl') Deze webservice presenteert de inhoudvan SBR documenten als opgemaakt en interactief HTML-bestand.
        .col-md-3.col-sm-6
            img(src='img/icons/gen/Validate_64.png',alt='SBR Verwerker')
            h3
                span(lang='nl') SBR Validatie
                span(lang='en') SBR Validate
            p
                span(lang='nl') Deze webservice maakt het mogelijk om gegeneerde SBR documenten te controleren op juistheid.
                span(lang='en')
        .col-md-3.col-sm-6
            img(src='img/icons/gen/Email_64.png')
            h3
                span(lang='nl') SBR Communicatie
                span(lang='en')
            p
                span(lang='nl') Deze webservice regelt de verzending van genereerde SBR documenten naar de betreffende instanties.
                span(lang='en')
