

section#webservices.section.about
    .section-body
        .section-header
            h2
                span(lang='nl') SBR Webservices
                span(lang='en') SBR Web services
            .divider-grey
            .container
                .row
                    .col-lg-2
                        img.profile(src='img/icons/sbr-prog/SBR_Webserver_128.png',alt='SBR Webservices')
                    .col-lg-8
                        p
                            span(lang='nl') Accept levert diverse webservices rondom STandard Business Reporting(SBR). Deze webservices funtioneren onafhankelijk van elkaar en zijn onder meer in staat tot het genereren,presentere, valideren en communiceren van SBR documenten (XBRL bestanden)
                            span(lang='en') Accept delivers several web services regarding STandard Business Reporting (SBR). These web services operate indepently of each other and are able te generate, render, validate and communicate SBR documents (XBRL files).
                        p
                            span(lang='nl') Het afnemen van SBR webservices is met name interessant voor softwareleveranciers. Zij kunnen de door Accept ontwikkelde webservices vrijwel direct en op eenvoudige wijze in hun softwarepakket(ten) implenteren. Door te kiezen voor onze SBR webservice bespaart u ontwikkelingskosten.
                            span(lang='en') The SBR web service are of particular interest for software vendors. These parties can implement the web services easily and almost immediately in their software. By choosing for our SBR web services you save both development costs and effort.
                .collapse-group

                    include knopje





