extends layout

block content
    include homepage_en/menu/menu
    include homepage_en/intro/intro
    include homepage_en/about/about
    include homepage_en/blog/blog
    include homepage_en/ontwikkeling/ontwikkeling
    include homepage_en/cursus/cursus
    include homepage_en/contact/contact
    include homepage_en/contact-from/contact-form
    include homepage_en/modals/modals
    include homepage_en/footer/footer
