extends  Coaching/layout

block content
    include Coaching_fr/menu/menu
    include Coaching_fr/intro/intro
    include Coaching_fr/about/about
    include Coaching_fr/ontwikkeling/ontwikkeling
    include Coaching_fr/gesprek/gesprek
    include Coaching_fr/contact/contact
    include Coaching_fr/contact-from/contact-form
    include Coaching_fr/modals/modals
    include Coaching_fr/footer/footer
