extends  Coaching/layout

block content
    include Coaching_en/menu/menu
    include Coaching_en/intro/intro
    include Coaching_en/about/about
    include Coaching_en/ontwikkeling/ontwikkeling
    include Coaching_en/gesprek/gesprek
    include Coaching_en/contact/contact
    include Coaching_en/contact-from/contact-form
    include Coaching_en/modals/modals
    include Coaching_en/footer/footer
