extends Neurofeedback/layout
block content
    include Neurofeedback_fr/menu/menu
    include Neurofeedback_fr/intro/intro
    include Neurofeedback_fr/about/about
    include Neurofeedback_fr/ontwikkeling/ontwikkeling
    include Neurofeedback_fr/training/training
    include Neurofeedback_fr/contact/contact
    include Neurofeedback_fr/contact-from/contact-form
    include Neurofeedback_fr/footer/footer
    include Neurofeedback_fr/modals/modals