extends Neurofeedback/layout
block content
    include Neurofeedback_en/menu/menu
    include Neurofeedback_en/intro/intro
    include Neurofeedback_en/about/about
    include Neurofeedback_en/ontwikkeling/ontwikkeling
    include Neurofeedback_en/training/training
    include Neurofeedback_en/contact/contact
    include Neurofeedback_en/contact-from/contact-form
    include Neurofeedback_en/footer/footer
    include Neurofeedback_en/modals/modals