extends layout

block content
    include homepage_fr/menu/menu
    include homepage_fr/intro/intro
    include homepage_fr/about/about
    include homepage_fr/blog/blog
    include homepage_fr/ontwikkeling/ontwikkeling
    include homepage_fr/cursus/cursus
    include homepage_fr/contact/contact
    include homepage_fr/contact-from/contact-form
    include homepage_fr/modals/modals
    include homepage_fr/footer/footer
