section#footer
    .footer-section
        p
            a.cursor-pointer(data-toggle='modal', data-target='#disclaimer')=disclaimer
            |  |
            span(lang='nl')
                a.cursor-pointer(data-toggle='modal', data-target='#voorwaarden')=Algemenevoorwaarden
                |  |
            span(lang='en')
                a.cursor-pointer(data-toggle='modal', data-target='#voorwaarden') Terms and Conditions
                |  |
            span(lang='nl')
                a.cursor-pointer(data-toggle='modal', data-target='#privacy')=Privacyverklaring
            span(lang='en')
                a.cursor-pointer(data-toggle='modal', data-target='#privacy') Terms and Conditions
