section.section.contact(id='contact')
    .section-body.container
        .section-container
            .vert-center
                .row
                    .col-lg-4.col-lg-offset-1.col-sm-4.col-md-6.col-cs-10.contact-left
                        h3
                            span(lang='nl') Stuur een bericht
                            span(lang='en') Send a message
                            span(lang='fr')
                        br
                        p
                            span(lang='nl') Heb je interesse of wil je meer weten?
                                br
                                | Dan hoor ik dit graag.
                                br
                                br
                                | Nathalie van Nielen
                                br
                                | Baronielaan 80, Breda
                                br
                                | tel: 06-20017054
                            span(lang='en')
                        br

                        p
                            a.social(href='mailto:info@nathalievannielen.nl')
                                | info@nathalievannielen.nl
                            br
                            br
                            a.social(href='mailto:info@nathalievannielen.nl')
                                i.fa.fa-inbox
                        p
                            | K.v.k. 53893492 te Breda
                            br
                            | IBAN: NL64 RABO 0178975931
                            br
                            | T.N.V. N.A. van Nielen-Robert
                    .col-lg-5.col-sm-8.col-md-6.col-xs-10.contact-right
                        h3
                            span(lang='nl') Tarieven
                            span(lang='en')
                        br
                        h4.text-left Kennismaking
                        p
                            span(lang='nl') Een gratis kennismaking van een half uur geheel vrijblijvend.
                            span(lang='en')
                            span(lang='fr')
                        br
                        h4.text-left Coaching
                        p
                            span(lang='nl') Coaching voor € 55,- per sessie.
                            span(lang='en')
                            span(lang='fr')
                        br
                        br
                        br
                        p.page-scroll
                            a.button(href='#contact-form')
                                span(lang='nl') Formulier
                                span(lang='en') Form

